{% extends "base_login.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}



<div class="container">
  <div class="info">
    
  </div>
</div>
<div class="form">
<div><img alt="" src="{{ STATIC_URL }}img/doublespacelogo.png"/></div>
<img alt="" src="{{ STATIC_URL }}img/logo.png">   
<br/>
<br/>
<br/>
<form class="register-form">
    {% csrf_token %}
    <input type="text" placeholder="name" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <input type="text" placeholder="email address"/>
    <button>create</button>
    <p class="message">Already registered? <a href="#">Sign In</a></p>
  </form>
  <form class="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <input type="text" placeholder="username" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <button>login</button>
    <input type="hidden" name="next" value="{{ next }}" />
    <p class="message">Not registered? <a href="#">Create an account</a></p>
  </form>
</div>


{% endblock %}
