{% extends 'base.html' %}

{% block content %}

<div class="bg-content"> 
      <!--============================== content =================================-->
      <div id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>
    <div class="container">
          <div class="row">
        <article class="span8">
              <h3>Contact us</h3>
              <div class="inner-1">
            <form id="contact-form">
                  <div class="success"> Contact form submitted! <strong>We will be in touch soon.</strong> </div>
                  <fieldset>
                <div>
                    <label class="name">
                    <input type="text" value="Your name">
                  <br>
                    <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label>
                    </div>
                  <div>
                    <label class="phone">
                    <input type="tel" value="Telephone">
                    <br>
                    <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> </label>
                    </div>
                <div>
                    <label class="email">
                    <input type="email" value="Email">
                    <br>
                    <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span> </label>
                    </div>
                <div>
                    <label class="message">
                    <textarea>Message</textarea>
                    <br>
                    <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label>
                    </div>
                <div class="buttons-wrapper"> <a class="btn btn-1" data-type="reset">Clear</a> <a class="btn btn-1" data-type="submit">Send</a></div>
              </fieldset>
                </form>
          </div>
            </article>
        <article class="span4">
              <h3>Contact info</h3>
              <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.556514151464!2d121.01139531436893!3d14.567335181797548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c9a100ec63e9%3A0x6f50e4e5a04406d0!2sShopwise!5e0!3m2!1sen!2sph!4v1453978512621" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
              <address class="address-1">
          <strong>Grewis<br>
              8901 Marmora Road<br>
              Glasgow, D04 89GR.</strong>
          <div class="overflow"> <span>Freephone:</span>+1 800 559 6580<br>
                <span>Telephone:</span>+1 800 603 6035<br>
                <span>FAX:</span>+1 800 889 9898 <br>
                <span>E-mail:</span> <a href="#" class="mail-1">mail@demolink.org</a><br>
                <span>Skype:</span> <a href="#" class="mail-1">@skypename</a></div>
          </address>
            </article>
      </div>
        </div>
  </div>
    </div>

{% endblock %}
